*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;             
}
body{
    
    width: 100%;
    height: 100vh;
    display: grid;
    place-items:center;
    background-color: #ccc;
}
h1{
    display: flex;
    margin-bottom: -270px;
    font-size: 35px;
    animation: font 4s ease-in-out infinite;
    text-shadow: 2px 3px 5px rgba(0, 0, 0,0.6);
}
.uni{
    height: 300px;
    aspect-ratio: 1;
    background-color: rgb(230, 161, 161);
    display: grid;
    place-items:center;
    animation: sky 4s linear infinite;
    border-radius: 20px;
    
    
}
.sun{
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(235, 141, 17);
    overflow: hidden;
    box-shadow: 0px 0px 100px rgb(255, 31, 31);
}
.moon{
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    animation: go 4s linear infinite;
    animation-timing-function: ease-in-out;
}
@keyframes go{
    0%{
        transform: translate(100%);
    }
    45%{
        transform: translate(0%);
        scale: 0.9;
    }
    55%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-100%);
    }
    
}
@keyframes sky{
    0%{
        
    }
    45%{
        background-color: rgb(31, 18, 16);
    }
    55%{
        
    }
    100%{
        
    }
}
@keyframes font{

    0%{
        
    }
    45%{
        color: #858513;
    }
    55%{
        
    }
    100%{
        
    }
}