/* font ccolor #574455 */
/* bg colour #eae8e5 */
/* face colur #a7857d */
/* icon colur #ebbacf */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eae8e5;
    color: #574455;

}

.cover {
    background: #574455;
    height: 7rem;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 5px 10px 0px #ebbacf;
}

.contener {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top:-3.5rem;
    height: 5.5rem;
    width: 5.5rem;  
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px #ebbacf;
}
.bio  {
   margin: 5px 30px 5px 30px; 
}
.link{
    margin-top: 2.2rem;
}
.btn{
    height: 2.8rem;
    width: 17rem;
    background: #574455;
    margin-top: 8px;
    border-radius: 20px;
    color: #eae8e5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none;
}
.btn:hover{
    background-color: #ebbacf;
    color: #574455;
}